<form action="/reverse" method="post">
    <label for="string_to_reverse">Enter a string:</label>
    <input type="text" id="string_to_reverse" name="string_to_reverse">
    <input type="submit" value="Reverse!">
</form>